body {
  background-color: #e6ecf0;
}

.navbar{
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
}

.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-image: url("./images/signed-out-home.jpg");
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}


#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
  width: 130%;
}

#messages:not(.no-hover) .list-group-item:hover{
  background-color: #e6ecf0;
}

.timeline-image {
  height: 85px;
  width: 85px;
  margin: 2px 30px 10px 10px;
  border-radius: 9999px;
}

.img-thumbnail{
  border-radius: 9999px;
}
.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover{
  color:white;
}

.navbar-header{
  margin: 0 auto;
}

.btn-primary.auth-btn{
  margin-top: 20px;
}

.message-area{
  width: 1000px;
}

.submitbtn{
  margin-top: 20px;
  background-color: rgb(29, 161, 242);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.list-group-item .deletebtn{
  color: white;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.fa-heart{
  color:rgb(29, 161, 242);
}

.likeCount{
  padding-left: 2%;
  padding-right: 2%;
}

.userProfile{
  background: white;
  width: 150%;
}
.info {
  text-align: center;
  padding-top: 10%;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 10%;
}

.username{
  color: rgb(29, 161, 242);
  margin-top: 15%;
  margin-bottom: 15%;
}

.fa-calendar-alt{
  margin-right: 5%;
  color: rgb(29, 161, 242);
}